.page-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
}


.page--alarm {
  padding: 0 1.2rem;
  position: relative;
  width: 100%;
  height: calc(100vh - 13rem);
  overflow-y: scroll;

  .group {
    .group-title {
      margin-bottom: 1.2rem;
      font-size: 1.4rem;
      color: #aaa;
      margin-left: 1.2rem;
    }
  }
}


.page--clock {
  padding: 0 1.2rem;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  .clock-item-wrapper {
    margin-top: 6rem;
  }
}

.page--stopwatch {
  padding: 0 1.2rem;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.page--timer {
  padding: 0 1.2rem;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  .hide {
    display: none !important;
  }

  .time-selector-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 6rem;

    .middle-item {
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
    }
  }

  .time-start-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
  }
}

.page--add-alarm {
  padding: 0 1.2rem;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #fff;

  .small-title {
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
    color: #aaa;
    margin-left: 1.2rem;
  }

  .cpn--module-box {
    margin-bottom: 2rem;

    .split-line {
      height: 1px;
      width: 100%;
      background-color: #eee;
      margin: 2rem 0;
    }
  }

  .cpn--header {
    .header-row {
      display: flex;
      align-items: center;
      height: 8rem;
      width: 100%;
      padding: 0 2rem;

      .center {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .header-title {
          font-size: 1.6rem;
          font-weight: bold;
        }
      }

      .left {
        flex: 1;
      }
      .right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .cpn--timer-selector {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;

    .divider {
      // height: 30rem;
      width: 1px;
      background-color: #eee;
      align-self: stretch;
      margin: 0 2rem;
    }

    .cpn--number-slide-selector {
      .cover-top {
        background-image: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0));
      }
      .cover-bottom {
        background-image: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
      }
    }
  }

  .cpn--ringtone-selector {
    margin-top: 2rem;
    padding: 0 1.2rem;

    .ringtone-selector {
      display: flex;
      justify-content: space-between;
      padding: 0 1.2rem;

      .select-box-wrapper-active {
        border: 2px solid var(--primary-color) !important;
      }
      .select-box-wrapper {
        width: calc(100% / 3 - 0.5rem);
        height: 10rem;
        border: 2px solid transparent;
        border-radius: 1.6rem;
        padding: .4rem;

        .weather-box {
          background-image: linear-gradient(to bottom left, #4481eb 0%, #04befe 100%);
        }

        .el-box {
          background-image: linear-gradient(to top right, #ffc271 0%, #ff9a44 100%);
        }

        .more-box {
          background-image: linear-gradient(-225deg, #B19FFF 48%, #B19FFF 100%);
        }

        .select-box {
          color: #fff;
          width: 100%;
          height: 100%;
          background-color: aqua;
          border-radius: 1.6rem;
          display: flex;
          flex-direction: column;

          .icon-wrapper {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .box-bottom {
            flex: 1;
            display: flex;
            // align-items: center;
            // justify-content: center;
            flex-direction: column;
            align-items: center;

            .small-icon-wrapper {
              background-color: #ffffff88;
              width: 1.8rem;
              height: 1.8rem;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 100rem;
              margin-top: .2rem;
            }
          }
        }
      }
    }
  }

  .cpn--other-setting {
    margin-top: 2rem;
    padding: 0 1.2rem;

    .setting-item-wrapper {
      .setting-item {
        width: 100%;
        min-height: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.2rem;

        .setting-item-title {
          font-size: 1.6rem;
          font-weight: bold;
        }

        .setting-item-content {
          display: flex;
          align-items: center;
          font-size: 1.4rem;
          color: #00000066;

          .icon-wrapper {
            height: 100%;
            align-self: stretch;
            display: flex;
            align-items: center;
          }
        }
      }

      .fake-input-box {
        background-color: #eee;
        border-radius: 2rem;
      }
    }
  }
}
