.page--alarm {
  padding: 0 1.2rem;
  // padding-top: 6rem;
  position: relative;
  width: 100%;

  .group {
    .group-title {
      margin-bottom: 1.2rem;
      font-size: 1.4rem;
      color: #aaa;
      margin-left: 1.2rem;
    }
  }
}


.page--clock {

}

.page--stopwatch {
  
}

.page--timer {
  
}
