.cpn--alarm-item {
  margin-bottom: var(--item-margin-bottom);

  .alarm-item {
    background-color: #fff;
    border-radius: var(--item-border-radius);
    padding: var(--item-padding);
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    .layout-left {
      .alarm-time {
        font-size: 2.2rem;
        font-weight: bold;
      }
      .alarm-desc {
        color: #00000088;
        margin-top: .4rem;
        margin-bottom: 1rem;
        font-size: 1.4rem;
      }
    }
    .layout-right {
      width: fit-content;
    }
  }
}