.cpn--menubar {
  display: flex;
  height: 5rem;
  align-items: center;
  padding: 0 2rem;
  justify-content: flex-end;
}
.cpn--menu-item-box {
  position: relative;
  width: 100%;
  height: 100%;
  .panel {
    padding: .4rem 2rem;
    border-radius: 2rem;
    min-width: 12rem;
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    background-color: #fff;
    font-size: 1.4rem;
    .row {
      min-height: 4rem;
      display: flex;
      align-items: center;
    }
  }
}