* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 10px;
}

.App {
  background-color: #f7f7f7;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  position: relative;
}

.hide {
  display: none !important;
}
